#outer-box {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

#outer-box #inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
}

.loader {
  opacity: 0;
  transition: opacity .5s;
}

.loading .loader,
.loading .loader:after {
  opacity: 1;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loading .loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(203,203,203, 0.2);
  border-right: 0.5em solid rgba(203,203,203, 0.2);
  border-bottom: 0.5em solid rgba(203,203,203, 0.2);
  border-left: 0.5em solid #cbcbcb;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
