{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image__client_hints()
 */
#}
{%
set classes = [
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}
<div id="outer-box" class="loading">
  <img{{ attributes.addClass(classes) }} />
  <div id="inner-box">
    <div class="loader"></div>
  </div>
</div>
